*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}
body{
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #a2f3e4;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    z-index: 100;
    margin-top: 14px;
}
.logo{
    font-size: 2em;
    color: rgb(3, 61, 42);
    pointer-events: none;
    margin-right: 270px;
}
.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.navigation a:hover ,.navigation a.active {
    background: #359381;
    color: #fff;
}
header{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
/* border-bottom: 2px solid rgb(216, 212, 212); */
}
main{
    width: 1005;
    height: 200vh;
    background-color: #a2f3e4;
 
}
footer{
    width: 100%;
    height: 25vh;
    background-color: black;
    cursor: pointer;
}
.floating{
    width: 100%;
    height: 20vh;
    background-color: white;
  overflow: hidden;
  display: flex;
   align-items: center;

   
}

.floating img{
    animation-name: floater;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-direction: alternate-reverse;
margin-left: 8vh;
 
}
@keyframes floater {
    0%{transform: translatey(-100px)  translateX(50px) translateZ(50px);}
   50%{transform: translatey(0px)  ;}
   100%{transform: translatey(-100px) translateX(-100px) translateZ(50px) ;}
}




@keyframes rotate {
0%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}
 #a{
   margin-left: 3vh;
   margin-bottom: 39vh;
} 
#b{

margin-bottom: 25vh;
margin-left: -30vh;

}
#c{

margin-top: 40vh;

}
#d{
margin-left: -40vh;
margin-top: 5vh;
}
#e{

margin-left: 40vh;
}
#f{

margin-bottom: 25vh;
margin-left: 30vh;
}
#g{

margin-top: 25vh;
margin-left: 30vh;
}
#h{

margin-top: 25vh;
margin-left: -30vh;
}
.slider{
width: 90%;
height: 60vh;
background-color: transparent;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
margin-top: 12vh;
cursor: pointer;


}
.slider:hover{

box-shadow: 0 0 15px green;
}

.upanddown{
width: 40vh;
height: 40vh;
border: 2px solid transparent;
border: 5px double white;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
animation: rotate 5s linear infinite;
border: 5px dashed blue;
margin-right: 25vh;
}

@keyframes up {
0%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}
.upanddown img{
position: absolute;
  border-radius: 50%;
  animation: rotate 7s linear infinite;
}

.speech{
width: 800px;
height: 350px;
margin-top: 20vh;
font-weight: bold;
}
.speech h1{
color: black;
font-size: 50px;
font-family: logo, Arial, Helvetica, sans-serif;
}
.speech button{
color: white;
background-color: orange;
width: 200px;
height: 5vh;
font-size: 20px;
cursor: pointer;
margin-left:40vh;
margin-top:5vh;
border: none;
border-radius: 10px;
font-family: logo, Arial, Helvetica, sans-serif;
animation: down 2s linear infinite;
}
@keyframes down {
0%{transform: translateY(-20px);}
50%{transform: translateY(-0px);}
100%{transform: translateY(-20px);}
}
.speech button:hover{
box-shadow: 0 0  15px red;

}
.speech h2{
color: blue;
font-size: 30px;
text-align: center;
}
.speech span{
color: blue;
font-size: 50px;
font-family: logo, Arial, Helvetica, sans-serif;
}
#bold{
color: black;
font-size: 30px;
}


.aboutus{
margin: auto;
width: 100%;
height: 80vh;
background-color: transparent;
margin-top: 5vh;
text-align: center;
display:flex ;
border-radius: 15px;
border-bottom: 5px solid red;
}
.vickey{
width: 400px;
height: 486px;
background-color: white;
border: .2px solid orange;
border-radius: 20px;
margin-left: 25vh;
transition: all ease 1s  ;
margin-top: 5vh;
cursor: pointer;
}
.vickey:hover{
scale: 1.1;
box-shadow: 0px 0px 15px  blue;
}
.vickey img{
border-radius: 30%;
margin-top: 5vh;
}
.vickey img:hover{
border-radius: 0;
}
.vickey h1{
color: blue;
font-family: logo, Arial, Helvetica, sans-serif;
font-size: 30px;
margin-top: 3vh;
}
.vickey h2{
color: green;
font-family: logo, Arial, Helvetica, sans-serif;
font-size: 20px;
margin-top: 3vh;
}
.vickey span{
color: black;
font-family: logo, Arial, Helvetica, sans-serif;
font-size: 30px;
}
.write {
text-align: center;
color: rgb(225, 154, 23);
background-color: transparent;
width: 90%;
height: 10vh;
margin-top: 10vh;
margin: auto;
cursor: pointer;
border-radius: 15px;
z-index: 2;
}

.write h1{
margin-top: 5vh;
}
.write h1:hover{
color: red;
}
.client{
width: 90%;
height: 25vh;
background-color: transparent;
margin: auto;
margin-top: 90vh;
font-family: logo, Arial, Helvetica, sans-serif;
text-align: center;
color: orange;
border-bottom: 5px solid blue;
border-radius: 15px;
cursor: pointer;
}
.client:hover{
    box-shadow: 0 0 15px green;
}
.client h1:hover{
color: red;
}
.client p{
color: black;
text-align: justify;
margin-top: 3vh;
}
.contact{
color: white;
margin-left: 5vh;
cursor: pointer;
}

.links{
display: flex;
}
.yt{
margin-left: 3vh;
margin-top: 2vh;
cursor: pointer;
}
.yt img{
transform: all ease 5s;
}
.yt img:hover{
scale: 1.1;
}
.extra{
color: white;
font-family: logo, Arial, Helvetica, sans-serif;
margin-left: 20vh;
line-height: 4vh;
}
.extra h4:hover{
color: orange;
}
.vk{
color: white;
background-color:black;
width: 100%;
height: 5vh;
text-align: center;
font-weight: bold;

}
.copy p{
margin-top: 3vh;
}
.copy:hover{
color: red;
}
.tree{
    /* z-index: -1; */
    position: fixed;
    margin-top: 15px;
    margin-left: 30rem;
    width: 100%;
    pointer-events: none;
}